
@{
    ViewBag.Title = "Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Custom styles for this template-->
<link href="/Assets/Admin/css/sb-admin-2.min.css" rel="stylesheet">
<div style="margin-top:20px;" class="alert alert-success">Mua hàng thành công</div>

