@model List<WebShop.Models.CartItem>

<div class="cart">
    <p>
        <span><a href="gio-hang">Giỏ hàng:</a></span>
        <div id="dd" class="wrapper-dropdown-2">
            @Model.Count sản phẩm
            <ul class="dropdown">
                <li>Bạn chưa có sản phẩm nào trong giỏ</li>
            </ul>
        </div>
    </p>
</div>


