
@model List<Model.EF.Menu>
<div class="menu" style="height:51px">
    <ul>
        @foreach (var item in Model)
        {
             <li><a href="@item.Link" target="@item.Target">@item.Name</a></li>

        }
        <div class="clear"></div>
    </ul>
</div>